@import '/src/global-styles/common';

:host {
  @include column();
  background-color: $exchange-background;
  width: 100%;
}

main {
  @include column();
}

a.mdc-button {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Whyte';
  font-weight: 400;
  color: $color-primary;
}

p {
  width: 100%;
}
