<a mat-button [routerLink]="['/admin']"> Sou Administrador </a>
<main class="exchange">
  <app-logo
    class="exchange__col"
    [ngClass]="{ 'logo-step--two': step > 1 }"
    [showInstitucionalText]="step === 1"
  ></app-logo>
  <app-cta *ngIf="step === 1"></app-cta>
  <app-exchange-form
    *ngIf="step === 1"
    [exchangeRate]="exchangeRate"
    (startOrder)="startOrder($event)"
  ></app-exchange-form>
  <app-address-form
    *ngIf="step === 2"
    [exchangeSelected]="exchangeSelected"
    (closeDeal)="closeDeal($event)"
    (back)="gotoStepOne($event)"
  ></app-address-form>
  <app-order-done
    *ngIf="step === 3"
    [order]="order"
    [brlValue]="exchangeSelected.brl"
  >
  </app-order-done>
</main>
<app-footer [metrics]="step === 1 ? metrics : []"></app-footer>
