@import '/src/global-styles/common';

:host {
  @include column();
  background-color: $exchange-background;
  width: 100%;
}

main {
  @include column();
}

a.mdc-button {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Whyte';
  font-weight: 400;
  color: $color-primary;
}

p {
  width: 100%;
}

@include tablet() {
  :host {
    min-height: 100vh;

    a.mdc-button {
      flex: 1 0 0;
      justify-content: flex-end;
      padding: 20px;
    }
  }

  main {
    @include row();
    flex: 1 1 100%;
  }
}

@include desktop() {
  :host {
    a.mdc-button {
      max-height: 54px;
      padding: 20px;
    }
  }

  main {
    align-items: flex-start;
    margin-bottom: -7rem;
    z-index: 3;
  }

  .logo-step--two {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@include x-desktop() {
  main {
    height: 450px;
  }

  .logo-step--two {
    left: 70px;
  }
}
