@import '/src/global-styles/common';

:host {
  @include column();
  align-items: flex-start;
  gap: 2rem;
  margin: calc((100vh - 600px) / 2) 0;
}

h1 {
  order: 2;
  width: 265px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 auto;
  line-height: 42px;
  color: $color-primary;
}

img {
  order: 1;
  height: 178px;
  margin-left: 10%;
}

fa-icon {
  order: 3;
  align-self: center;
  font-size: 1.4rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@include tablet() {
  @include tablet() {
    :host {
      flex: 1 0 45%;
      margin: 4rem 0;
    }
  }

  fa-icon {
    display: none;
  }

  h1 {
    order: 1;
  }

  img {
    order: 2;
  }
}

@include desktop() {
  :host {
    flex: 1 0 300px;
    position: unset;
  }

  h1 {
    font-size: 43px;
    width: 469px;
    position: absolute;
    line-height: 58px;
    top: 60px;
    left: calc(50vw - 200px);
  }

  img {
    position: absolute;
    bottom: 20px;
    height: 302px;
    left: calc(50vw - 417px);
  }
}
