$color-base: #777777;
$color-primary: #008336;
$color-accent: #EC9C00;

$color-light: #ffffff;
$color-grey: #999999;
$color-dark: #222222;

/**
* Breakpoints (Mobile First!)
*/
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1440px;

$font-family: 'Whyte';
