@import '/src/global-styles/common';

:host {
  @include column();
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
  padding: 2rem 3rem;
  gap: 3rem;
  background-color: $color-dark;
}

section {
  @include row();
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

@include tablet() {
  :host {
    @include row(nowrap);
  }
}

@include desktop() {
  :host {
    flex-basis: 146px;
    height: 146px;
    z-index: 0;
    justify-content: flex-start;
  }

  section {
    width: 290px;
    justify-content: space-between;
  }
}
