@import '/src/global-styles/common';

:host {
  @include column();
  gap: 0.5rem;
  align-items: center;
}

h1,
h3 {
  color: $color-light;
  font-size: 35px;
}

h3 {
  font-size: 10px;
  max-width: 63px;
  text-align: center;
  line-height: 18px;
}
