@import '/src/global-styles/common';

:host {
  @include column();
  gap: 0.8rem;
}

p {
  font-size: 11px;
  text-align: center;
}

@include desktop() {
  :host {
    position: relative;
    top: 29px;
    margin-left: auto;
  }

  p {
    text-align: right;
  }
}
