@import '/src/global-styles/common';

:host {
  @include column();
  justify-content: center;
  margin: 2rem;
  align-items: center;
  gap: 3rem;
}

p {
  display: none;
}

img {
  width: 204px;
}

@include tablet() {
  :host {
    flex: 1 1 100%;
  }
}

@include desktop() {
  :host {
    flex: 1 0 240px;
  }

  img {
    width: 267px;
    margin-bottom: 0rem;
  }

  p {
    display: flex;
    color: $color-primary;
  }
}
